<launch>
  <arg name="use_joy" default="false"/>

  <rosparam command="load"
	    file="$(find rtr_double_arm_v7)/config/jog_control.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <param name="use_action" value="true"/>
    <remap from="joint_states" to="/RTRDoubleArmV7/joint_states"/>
  </node>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node">
    <param name="use_action" value="true"/>
    <remap from="joint_states" to="/RTRDoubleArmV7/joint_states"/>
  </node>
</launch>
